Source: golang-tags.cncf-container-device-interface
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Shengjing Zhu <zhsj@debian.org>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any,
               golang-github-fsnotify-fsnotify-dev,
               golang-github-opencontainers-runtime-tools-dev,
               golang-github-opencontainers-specs-dev,
               golang-github-stretchr-testify-dev,
               golang-github-xeipuuv-gojsonschema-dev,
               golang-golang-x-mod-dev,
               golang-golang-x-sys-dev,
               golang-k8s-sigs-yaml-dev
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-tags.cncf-container-device-interface
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-tags.cncf-container-device-interface.git
Homepage: https://github.com/cncf-tags/container-device-interface
XS-Go-Import-Path: tags.cncf.io/container-device-interface

Package: golang-tags.cncf-container-device-interface-dev
Architecture: all
Multi-Arch: foreign
Depends: golang-github-fsnotify-fsnotify-dev,
         golang-github-opencontainers-runtime-tools-dev,
         golang-github-opencontainers-specs-dev,
         golang-github-xeipuuv-gojsonschema-dev,
         golang-golang-x-mod-dev,
         golang-golang-x-sys-dev,
         golang-k8s-sigs-yaml-dev,
         ${misc:Depends}
Provides: golang-github-container-orchestrated-devices-container-device-interface-dev (= ${source:Version})
Breaks: golang-github-container-orchestrated-devices-container-device-interface-dev (<< 0.8.0-4)
Replaces: golang-github-container-orchestrated-devices-container-device-interface-dev (<< 0.8.0-4)
Description: container device interface
 CDI (Container Device Interface), is a specification for container runtimes,
 to support third party devices.
 .
 CDI concerns itself only with enabling container to be device aware.
 Areas like resource management are explicitly left out of CDI (and is
 expected to be handled by the orchestrator). Because of this focus, the
 CDI specification is simple to implement and allows great flexibility to
 runtimes and orchestrators.


Package: golang-github-container-orchestrated-devices-container-device-interface-dev
Section: oldlibs
Multi-Arch: foreign
Architecture: all
Depends: golang-tags.cncf-container-device-interface-dev
Description: Transitional package for golang-tags.cncf-container-device-interface-dev
 This is a transitional package to ease upgrades to the
 golang-tags.cncf-container-device-interface-dev package. It can be safely removed.
